.advantages__item {
  color: @white;
  background-color: @blue;
}

.advantages__number {
  line-height: 21px;
}

.advantages__text {
  line-height: 21px;
}

.advantages__item-short {
  background-color: @lighter-grey;
}
