.button {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  color: @white;
  text-decoration: none;
  font-family: @font-family;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  background-color: @blue;
  border: none;
  text-transform: uppercase;
  cursor: pointer;

  &:hover,
  &:focus {
    color: @white;
    background-color: @dark-blue;
  }

  &:active {
    color: @white-op30;
    background-color: @darkest-blue;
  }

  &:disabled {
    color: @white;
    background-color: @light-grey;
  }
}

.button--modal {
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}
