.button {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  color: @white;
  text-decoration: none;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  background-color: @blue;

  &:hover,
  &:focus {
    color: @white;
    background-color: @dark-blue;
  }

  &:active {
    color: @white-op30;
    background-color: @darkest-blue;
  }

  &:disabled {
    color: @white;
    background-color: @light-grey;
  }
}

.button--booking {
  padding: 15px 32px 17px 32px;
}

.button--send {
  border: none;
  text-transform: uppercase;
}

.button--ok,
.button--close {
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}
