.copyright {
  background-color: @white;
}

.copyright__text {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  color: @black;
}

.copyright__link {
  display: inline-block;
  vertical-align: middle;
}

.copyright__link-logo {
  width: 27px;
  height: 34px;
}
