.gallery {
  background-color: @white;
}

.gallery__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.gallery__item {
  width: 320px;
  padding: 20px 20px 0 20px;
  border-top: 1px solid @light-grey;

  &:last-child {
    border-bottom: 1px solid @light-grey;
  }
}

.gallery__photo-link {
  display: block;
}

.gallery__photo {
  display: block;
  max-width: 100%;
  height: auto;
}

.gallery__title {
  margin: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

.gallery__description {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  padding-top: 10px;
  padding-right: 0;
  padding-bottom: 19px;
  padding-left: 0;
}

.gallery__author {
  margin-bottom: 10px;
  line-height: 24px;
  font-style: normal;
  text-transform: none;
}

.gallery__button-like {
  padding: 0;
  background-color: transparent;
  background-image: url("../img/icon-like.svg");
  background-repeat: no-repeat;
  background-position: 0 2px;
  cursor: pointer;
}

.gallery__counter-like {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 37px;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: @black;
}

@media (min-width: @tablet-width) {
  .gallery__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0 60px;
  }

  .gallery__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    border: none;

    &:last-child {
      border-bottom: none;
    }
  }

  .gallery__item--big {
    width: 648px;
  }

  .gallery__item--small {
    width: 324px;
  }

  .gallery__photo {
    //display: block;
    //max-width: 100%;
    //height: auto;
    width: 324px;
    height: 267px;
  }

  .gallery__photo--big {
    //max-width: 100%;
    //height: auto;
    width: 648px;
    height: 400px;
  }

  .gallery__description {
    position: relative;
    flex: none;
    padding: 15px 20px 7px 20px;
    background-color: @lightest-grey;
  }

  .gallery__button-like {
    position: absolute;
    top: 26px;
    right: 21px;
  }

  .gallery__counter-like {
    padding-left: 31px;
  }

  .gallery__item--small .gallery__button-like {
    right: 32px;
  }
}

@media (min-width: @desktop-width) {
  .gallery__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  .gallery__item {
    position: relative;
  }

  //temp
  .gallery__photo {
    width: 400px;
    height: 267px;
  }

  .gallery__photo--big {
    width: 1200px;
    height: 400px;
  }

  .gallery__description {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 400px;
    padding-top: 16px;
    padding-right: 18px;
    padding-bottom: 18px;
    padding-left: 22px;
    background-color: @black-op30;
    color: @white;
  }

  .gallery__item--big .gallery__description {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 1200px;
    padding: 14px 20px;
    background-color: @black-op30;
    color: @white;
  }

  .gallery__item--big {
    width: 1200px;
    height: 400px;
  }

  .gallery__item--small {
    width: 400px;
  }

  .gallery__button-like {
    background-image: url("../img/icon-like-white.svg");
  }

  .gallery__counter-like {
    color: @white;
  }

  .gallery__author {
    margin-bottom: 3px;
  }

  .gallery__item--small .gallery__author {
    margin-bottom: 0;
  }

  .gallery__item--small .gallery__description {
    padding-bottom: 16px;
  }
}
