.map__img-wrapper {
  width: 320px;
  height: 350px;
  overflow: hidden;
}

.map__img {
  display: block;
  width: 100%;
  height: auto;
}

@media (min-width: @tablet-width) {
  .map__img-wrapper {
    width: 768px;
    height: 350px;
  }
}

@media (min-width: @desktop-width) {
  .map__img-wrapper {
    width: 1200px;
    height: 350px;
  }
}
