.slogan__title {
  color: @black;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.slogan__text {
  color: @black-grey;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
}
