.slogan {
  background-color: @white;
}

.slogan__wrapper {
  padding-top: 32px;
  padding-right: 30px;
  padding-bottom: 31px;
  padding-left: 30px;
  text-align: center;
}

.slogan--catalog .slogan__wrapper {
  padding-top: 30px;
  padding-right: 23px;
  padding-bottom: 29px;
  padding-left: 23px;
  border-bottom: 1px solid @light-grey;
}

.slogan__title {
  margin: 0;
  margin-bottom: 31px;
  padding: 0;
  color: @black;
}

.slogan--catalog .slogan__title {
  margin-bottom: 25px;
}

.slogan__text {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

@media (min-width: @tablet-width) {
  .slogan__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 42px;
    padding-right: 0;
    padding-bottom: 53px;
    padding-left: 0;
  }

  .slogan--catalog .slogan__wrapper {
    padding-top: 61px;
    padding-bottom: 75px;
    border-bottom: none;
  }

  .slogan__title {
    width: 435px;
    margin: 0;
    margin-bottom: 31px;
    padding: 0;
  }

  .slogan--catalog .slogan__title {
    margin-bottom: 30px;
  }

  .slogan__text {
    width: 490px;
    margin: 0;
    padding: 0;
  }

  .slogan__text-break {
    display: none;
  }

  .slogan--catalog .slogan__text {
    width: 430px;
  }
}

@media (min-width: @desktop-width) {
  .slogan__wrapper {
    padding-top: 53px;
    padding-bottom: 42px;
  }

  .slogan--catalog .slogan__wrapper {
    padding-top: 99px;
    padding-bottom: 77px;
  }
}
