// Colors

//bgd button
@blue: #81B3D2;
//bgd button hover
@dark-blue: #669EC0;
//bgd button down
@darkest-blue: #5496BD;
//bgd button disabled, bgd input hover, border input active
@light-grey: #e5e5e5;

@white: #ffffff;
//font down
@white-op30: fade(#ffffff, 30%);
//font active down
@grey-op30: fade(#766357, 30%);
//font down
@black-op30: fade(#000000, 30%);
@black-op60: rgba(0, 0, 0, 0.6);
@lighter-grey: #eeeeee;
//bgd input
@lightest-grey: #f2f2f2;
@lightest-grey-input-image: #e6e6e6;
//bgd radio, checkbox down
@grey: #d5d5d5;
//font active
@dark-grey: #766357;
//font active hover
@darkest-grey: #604E43;
@black: #000000;

@black-grey: #333333;
@black-grey-op30: fade(#333333, 30%);

@black-shadow-op20: rgba(1, 1, 1, 0.2);
@white-shadow-op20: rgba(255, 255, 255, 0.2);
@white-op0: rgba(255, 255, 255, 0);

//Fonts

@font-family: "PT Sans", "Arial", sans-serif;

//Breakpoints

@tablet-width: 768px;
@desktop-width: 1200px;
@mobile-width-only: 767px;
